<h2><%= "tTODO Custom texts" %></h2>

<%= link_to 'Back', admin_site_customization_texts_url %>

<h3>Editing <%= params[:id].titleize %></h3>

<% @translations.each_pair do |key, value| %>
  <%= label_tag key, key %>
  <%= text_field_tag key, value %>
<% end %>
