<span class="total-amount">
  <%= t("budgets.progress_bar.assigned") %> / <%= t("budgets.investments.header.price") %><br>
  <span class="amount-price">
    <%= @ballot.formatted_amount_spent(@heading) %> / <%= @budget.formatted_heading_price(@heading) %>
  </span>
</span>

<div class="progress" role="progressbar" tabindex="0"
     id="progress"
     aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
  <div class="progress-meter"
       style="width:
       <%= progress_bar_width(@budget.heading_price(@heading),
                              @ballot.amount_spent(@heading)) %>">
  </div>
</div>

<p class="inline-block">
  <span class="amount-available">
    <small><%= t("budgets.progress_bar.available") %></small><br>
    <span class="amount-available-price">
      <%= @ballot.formatted_amount_available(@heading) %>
    </span>
  </span>
</p>
