<div class="budget-phases">
  <div class="row margin-top">
    <div class="small-12 column">
      <h2 class="text-center"><%= t("budgets.index.all_phases") %></h2>

      <ul class="tabs" data-tabs id="budget_phases_tabs" data-deep-link="true">
        <% current_budget.published_phases.each do |phase| %>
          <li class="tabs-title <%= "is-active" if phase == current_budget.current_phase %>">
            <a href="#<%= phase.id %>"><%= t("budgets.phase.#{phase.kind}") %></a>
          </li>
        <% end %>
      </ul>

      <div class="tabs-content" data-tabs-content="budget_phases_tabs">
        <% current_budget.published_phases.each do |phase| %>
          <div class="tabs-panel <%= "is-active" if phase == current_budget.current_phase %>" id="<%= phase.id %>">

            <% unless current_budget.published_phases.first == phase %>
              <a href="#<%= phase.id - 1 %>" title="<%= t("budgets.index.prev_phase") %>"
                 class="budget-prev-phase">
                <span class="show-for-sr"><%= t("budgets.index.prev_phase") %></span>
              </a>
            <% end %>
            <% unless current_budget.published_phases.last == phase %>
              <a href="#<%= phase.id + 1 %>" title="<%= t("budgets.index.next_phase") %>"
                 class="budget-next-phase">
                <span class="show-for-sr"><%= t("budgets.index.next_phase") %></span>
              </a>
            <% end %>

            <div class="row">
              <div class="small-12 medium-6 column">
                <h3><%= t("budgets.phase.#{phase.kind}") %></h3>
                <p>
                  <%= l(phase.starts_at.to_date, format: :long) if phase.starts_at.present? %>
                  -
                  <%= l(phase.ends_at.to_date - 1.day, format: :long) if phase.ends_at.present? %>
                </p>

                <%= auto_link_already_sanitized_html(wysiwyg(phase.description)) %></p>

                <% if phase.main_button_text.present? && phase.main_button_url.present? %>
                  <%= link_to phase.main_button_text, phase.main_button_url, class: "button" %>
                <% end %>
              </div>

              <div class="small-12 medium-6 column text-center">
                <% if phase.image.present? %>
                  <%= image_tag phase.image.attachment.url(:large) %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
